# Auto detect text files and perform LF normalization
* text=auto
Makefile text eol=lf
*.vcxproj text eol=crlf
*.vcxproj.filters test eol=crlf
*.sln text eol=crlf

# git is a nightmare with line endings
# the authors of git should be ashamed of themselves

* -crlf

