/* -*-c++-*- */
/*

    Sartorial Programming Interface (SPI) runtime libraries
    Copyright (C) 2012-2023 Sartorial Programming Ltd.

    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 2.1 of the License, or (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this library; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301
    USA

*/

%module replay;

#include <spi/Replay.hpp>

class virtual ReplayAction<open const SPI_NAMESPACE::ReplayAction>
{};

class ReplayFunctionAction<open const SPI_NAMESPACE::ReplayFunctionAction> : ReplayAction
{
    public Map inputs
    {
        return self->Inputs();
    }

    public Map output
    {
        return self->Output();
    }
};

class ReplayObjectAction<open const SPI_NAMESPACE::ReplayObjectAction> : ReplayAction
{
    public Map inputs
    {
        return self->Inputs();
    }
};

class virtual delegate ReplayCodeGenerator<open shared SPI_NAMESPACE::ReplayCodeGenerator>
{
    extern void GenerateFunction(ReplayFunctionAction action);
    extern void GenerateObject(ReplayObjectAction action);

    delegate void GenerateFunction(const SPI_NAMESPACE::ReplayFunctionAction* action)
    {
        self->GenerateFunction(ReplayFunctionAction::Wrap(action));
    }
    
    delegate void GenerateObject(const SPI_NAMESPACE::ReplayObjectAction* action)
    {
        self->GenerateObject(ReplayObjectAction::Wrap(action));
    }

};

class ReplayLog<open shared SPI_NAMESPACE::ReplayLog> noMake=True
{
    public Map[] items
    {
        return self->items();
    }

    // can we provide execute method?
    // we don't have the relevant service object
    // extern void execute(Service svc, string logfilename);

    extern void generateCode(ReplayCodeGenerator generator)
    {
        self->generateCode(generator.get());
    }

    static ReplayLog Read(string infilename);
};
